table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: 1px solid #ddd;
    width: 90px;
}
td.inside {
    background-color: #fcf8e3;
    height: 2em;
}
td.inside:hover {
	background-color: yellow;
}
td.day {
	height: 5em;
}
td.day:hover {
	background-color: yellow;
}
td.weekday {
	text-align: center;
}
.top {
    border-bottom: 1px dotted #ddd;
}
.bottom {
    border-top: 1px dotted #ddd;
}   
td.timelabel {
    text-align: right;
    width: 55px;
}
.rolelabel {
    text-align: center;
}
