{% extends "layout.html" %}
{% block body %}
<div class="container" >
    <h1>Welcome to FailSafe</h1>
    <p>
        Failsafe is a web application that allows healthcare professionals to respond to emergencies in a timely manner.
        Not only does it allow users to check when they are scheduled to be on-call, but it also allows them to also
        let the operator know when they will be arriving at the hospital via an SMS messaging system. FailSafe allows
        the operator to additionally cycle through all kinds of contact information so that the activation system does
        not stop contacting each member of the on-call team until he or she responds through the messaging system.
    </p>
    <p>
        The application was incepted by Drs. Schuyler Jones and Manesh Patel from Duke University Hospital, and the
        project was created by undergraduate members of the computer science department:
        <li>Jeff Hou</li>
        <li>Teddy Ward</li>
        <li>Alex Song</li>
        <li>David Chou</li>
    </p>
</div>
{% endblock %}
