{% extends "cal_layout.html" %}
{% block headScript %}
{% endblock %}
{% block body %}
{% set roles = ['Faculty', 'Fellow', 'Nurse 1', 'Nurse 2', 'Tech 1', 'Tech 2'] %}
{% set roleIds = ["faculty", "fellow", "rn1", "rn2", "tech1", "tech2"] %}
	<div class="container">
		<button id = "alert-button" type="button" class="btn btn-danger pull-left">Activate</button>
		<button id = "cancel-alert-button" type="button" class="btn btn-info pull-left">Silence</button>
	</div><br>
	<div class="container">
		<button id = "last-month" type="button" class="btn btn-default pull-left">Previous Month</button>
		<button id = "next-month" type="button" class="btn btn-default pull-left">Next Month</button>
	</div>
	<div class="container" id="calendar"></div>

	<div style="display:none;" id="alert-form" title="Alert">
		<p class="validateTips">All form fields are required.</p>
		<form action="superman" method="post">
			<fieldset>
				<div>
					<label for="eta">ETA</label>
					<input type="text" name="eta" id="eta" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="location">Location</label>
					<input type="text" name="location" id="location" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="type">Type</label>
					<input type="text" name="type" id="type" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="msg">Message</label>
					<input type="text" name="msg" id="msg" class="text ui-widget-content ui-corner-all">
				</div>
					
				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
	</div>
	
	<div style="display:none;" id="full-form" title="Create on call event">
		<p class="validateTips">All form fields are required.</p>
	
		<form action="{{ url_for('calendar.add_call') }} " method="POST">
			<fieldset>
				<div>
					<label for="date">Date</label>
					<input type="text" name="date" id="date" readonly class="text ui-widget-content ui-corner-all">
                </div>
                {% set index = 0 %}
                {% for roleId in roleIds %}
                    <div>
                        <label for="{{ roleId }}">{{roles[loop.index0]}}</label>
                        <select name="{{ roleId }}" id="{{ roleId }}">
                            {{ directory_list }}
                            {% for dir_entry in directory_list %}
				{% set firstName = dir_entry[3] %}
				{% set lastName = dir_entry[4] %}
				{% set netID = dir_entry[8] %}
                                {% if 'tech' in roles[index]|lower and (dir_entry[1]|lower == 'nurse' or dir_entry[1]|lower == 'tech') %}
                                    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
                                {% elif dir_entry[1]|lower in roles[index]|lower%}
                                    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% set index = index + 1 %}
				{% endfor %}

				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
    </div>

	<div style="display:none;" id="full-crud-form" title="Create on call event">
		<p class="validateTips">All form fields are required.</p>
	
		<form action="{{ url_for('calendar.add_call') }} " method="POST">
			<fieldset>
				<div>
					<label for="dateCRUD">Date</label>
					<input type="text" name="dateCRUD" id="dateCRUD" readonly class="text ui-widget-content ui-corner-all">
                </div>
                {% set index = 0 %}
                {% for roleId in roleIds %}
                    <div>
                        <label for="{{ roleId }}">{{roles[loop.index0]}}</label>
                        <select name="{{ roleId }}CRUD" id="{{ roleId }}CRUD">
                            {{ directory_list }}
                            {% for dir_entry in directory_list %}
				{% set firstName = dir_entry[3] %}
				{% set lastName = dir_entry[4] %}
				{% set netID = dir_entry[8] %}
                                {% if 'tech' in roles[index]|lower and (dir_entry[1]|lower == 'nurse' or dir_entry[1]|lower == 'tech') %}
                                    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
                                {% elif dir_entry[1]|lower in roles[index]|lower%}
                                    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% set index = index + 1 %}
				{% endfor %}

				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
    </div>


    
{% endblock %}
