@import url("/idp/css/screen.css");
@import url("/idp/css/antiscreen.css") handheld;
@import url("/idp/css/antiscreen.css") only screen and (min-width: 320px) and (max-width: 768px);

#idp .expand a {
  background: transparent url(/idp/images/sprites.png) no-repeat 0 -227px;
}
#idp a.expand {
  background: transparent url(/idp/images/sprites.png) no-repeat 0 -226px;
}
#idp a.expanded {
  background: transparent url(/idp/images/sprites.png) no-repeat 0 -253px;
}
#idp h5.expanded a {
  background: transparent url(/idp/images/sprites.png) no-repeat 0 -251px;
}

#idp a.expand,
#idp a.expanded,
#idp h5.expand a,
#idp h5.expanded a {
  padding-left: 15px;
}
* html #idp a.expand,
* html #idp a.expanded,
* html #idp h5.expand a,
* html #idp h5.expanded a { /* IE6 */
  padding-left: 7px;
}

#idp h5 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

strong {
    font-weight: bold;
}

#banner {
  margin: 0;
  padding: 15px 0;
  height: 80px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: url(/idp/images/layout_background_banner.gif) repeat-y 0 0 #003366; 
}

#logo {
  float: left;
  margin-left: 50px;
  width: 500px;
  height: 75px;
  display: inline;
}

#logo h1 {
  float: left;
  margin: 8px 0;
  padding: 0;
  height: 60px;
  width: 163px;
  text-indent: -9000px;
  background: url(/idp/images/layout_logo_duke.gif) no-repeat 0 0;
}

#logo h1 a {
  height: 60px;
  display: block;
}

#logo h2 {
  margin: 34px 0 0 173px;
  width: 305px;
  height: 19px;
  color: #F09905;
  font: 22px Arial;
}

#main {
  min-height: 500px;
  background: url(/idp/images/layout_background_main.gif) repeat-y 0 0;
  border-top: 15px solid #988675;
}


#container1 {
  float:left;
  width:100%;
  overflow:hidden;
}

#idp #banner {
  background: #003366 url(/idp/images/background_banner.gif) repeat-y top left;
}

#idp #logo h2 {
  margin-top: 31px;
}
#idp #logo h2 a {
  height: 32px;
}

#main {
  background: #fff none;
  border-top-width: 10px;
}

#content {
  width: 50%;
  min-width: 300px;
  margin: 10px;
  padding: 20px 0 0 0;
  color: #333;
  overflow: auto;
}

#portlet {
  position: relative;
  background: #F7F3E2;
  margin: 0 0 20px 0;
  overflow: hidden;
}

#idp h3 {
  margin: 0 0 7px 0;
  padding: 6px 0 3px 10px;
  color: #0680CD;
  font-weight: normal;
  font-size: 87%;
  border-bottom: 2px dotted #0680CD;
  border-top: 2px solid #0680CD;
}
#idp h3 span {
  padding-left: 10px;
  background: transparent url(/idp/images/sprites.png) no-repeat 0 -162px;
}
* html #idp h3 span {
  padding-left: 10px;
  background: transparent url(/idp/images/sprites.png) no-repeat 10px -158px;
}
* html #idp h3 span div {
  margin-top: 5px;
}

#portlet-content {
  padding: 0 15px 10px 15px;
}

a:link {color:#003366;}      /* unvisited link */
a:visited {color:#003366;}  /* visited link */
a:hover {color:#DF9403;}  /* mouse over link */
a:active {color:#003366;}  /* selected link */ 

#header {
  background-color: #988675;
}

span.question {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
span.question:hover { background-color: #3D6199; }
div.tooltip {
  background-color: #3D6199;
  color: White;
  position: absolute;
  left: -210px;
  top: -180px;
  z-index: 1000000;
  width: 200px;
  border-radius: 5px;
  font-size: .7em;
}
div.tooltip:before {
  border-color: transparent #3D6199 transparent transparent;
  border-right: 6px solid #3D6199;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}
div.tooltip p {
  margin: 10px;
  color: White;
}
span.question a {
    text-decoration: none;
    color: #FFFFFF;
}
