{% extends "layout.html" %}	
{% block title %} FailSafe: Directory {% endblock %}
{% block dir_head %}
	<link rel="stylesheet" href="{{ url_for('directory.static', filename='style.css') }}">
	<script src='{{ url_for('directory.static', filename='script.js') }}'></script>
{% endblock %}
{% block body %}	
	<div class="main">
		<div class="container">
            <div id="directory_heading"> 
    			<h1>Staff Directory</h1>
            </div>
            {%  if user.isAdministrator == 'Yes' %}
            <div id="addnew_heading"> 
                <button id = "create-user" type="button" class="btn btn-success btn-lg" style="margin-bottom: 10px; margin-top:10px">Add Staff &nbsp;<i class="fa fa-plus"></i></button> 
            </div>
            {% else %}
            {% endif %}
            <ul id="quicklinks">
                <li><a href="#Faculty">Faculty</a> |</li>
                <li><a href="#Fellow">Fellow</a> |</li>
                <li><a href="#Nurse">Nurse</a> |</li>
                <li><a href="#Tech">Tech</a> </li>
            </ul
            >
			<div class="panel panel-default" id="directory_table">
			  	<!-- Table -->
               {% for group in person_list|groupby("Role") %}
                     <table id ="staff-table" class="table">
						<tr>
                            <td id="{{group.grouper}}" class="roleGroup" colspan=10>{{group.grouper}}</td>
						</tr>
						<tr class="table_headings">
							<th style="display:none">Role</th>
                            <th>Admin</th>
							<th>First Name</th>
							<th>Last Name</th>
            				<th>Cell Phone</th>
							<th>Home Phone</th>
							<th>Pager Number</th>
                            <th>NetID</th>
                            {% if user.isAdministrator == 'Yes' %}
            				<th>Edit</th>
			            	<th>Delete</th>
                            {% else %}
                            {% endif %}
						</tr>
						{% for person in group.list %}
							<tr class="entry">
								<td class ="entry-data" style="display:none">{{person.Role}}</td>
								<td class="entry-data">{{person.IsAdministrator}}</td>
								<td class="entry-data">{{person.FirstName}}</td>
								<td class="entry-data">{{person.LastName}}</td>
								<td class="entry-data">{{person.CellPhone}}</td>
								<td class="entry-data">{{person.HomePhone}}</td>
								<td class="entry-data">{{person.PagerNumber}}</td>
							    <td class="entry-data">{{person.NetID}}</td>
                                {% if user.isAdministrator == 'Yes' %}
							    <td class="edit-staff" id="{{person.UserID}}"><a href="#" class="btn btn-primary btn-large"> Edit &nbsp; <i class="fa fa-pencil"></i></a></td>
							    <td class="delete-staff" id="{{person.UserID}}"><a href="#" class="btn btn-danger btn-large">Delete &nbsp; <i class="fa fa-times"></i></a></td>
                                {% else %}
                                {% endif %}
							</tr>
						{% endfor %}
			    	</table>
				{% endfor %}
            </div>
		</div>
	</div>

	<div id="dialog-form" title="Create new staff">
	  <p class="validateTips">All form fields are required.</p>
	
	  <form action="/directory/addStaff" method="post" id="directory-form">
		<fieldset>
			<div>
                <label for="role">Role</label>
                <select id="role">
                    <option value="Faculty">Faculty</option>
                    <option value="Fellow">Fellow</option>
                    <option value="Nurse">Nurse</option>
                    <option value="Tech">Tech</option>
                </select>
			</div>
			<div>
                <label for="admin">Is Admin?</label>
                <select id="admin">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
			</div>
			<div>
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" id="firstName" class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName" class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="cellNumber">Cell Number</label>
				<input type="text" name="cellNumber" id="cellNumber" class="text ui-widget-content ui-corner-all" placeholder="+19876543210">
			</div>
			<div>
				<label for="homeNumber">Home Number</label>
				<input type="text" name="homeNumber" id="homeNumber" class="text ui-widget-content ui-corner-all" placeholder="+19876543210">
			</div>
			<div>
				<label for="pager">Pager Number</label>
				<input type="text" name="pager" id="pager" class="text ui-widget-content ui-corner-all" placeholder="9876543210">
			</div>
			<div>
				<label for="netID">NetID</label>
				<input type="text" name="netID" id="netID" class="text ui-widget-content ui-corner-all">
			</div>
	 
		  <!-- Allow form submission with keyboard without duplicating the dialog button -->
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	  </form>
  </div>
    
  <div id="delete-dialog" title="Delete this contact?">
    
  </div>

{% endblock  %}
