<!doctype html>
<title>Day View</title>
<head>
	<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='eventScript.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui.min.css') }}">
    {% set roles = ['Faculty', 'Fellow', 'Nurse 1', 'Nurse 2', 'Tech 1', 'Tech 2'] %}
    {% set roleIds = ["faculty", "fellow", "rn1", "rn2", "tech1", "tech2"] %}
	{% set weekdays =['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
	{% block headScript %} {% endblock %}
<body>{% block body %} {% endblock %}</body>