{% extends "layout.html" %}
{% block headScript %}
{% endblock %}
{% block body %}
	<button id = "goToDay" type="button" class="btn btn-default btn-lg"><a href="/day">Day View</a></button>
	<table>
		<tr>
			{% for day in weekdays %}
			<td class="weekday">{{day}}</td>
			{% endfor %}
		</tr>
		{% for weekNumber in range(0, 5) %}
			<tr>
                {% for weekday in weekdays %}
                {% set day = ((7 * weekNumber) + loop.index) %}
    			{% if (day <= 30) %}
				<td class="day" id="{{day}}">
                {{day}}.<br>
                {% for call_event in call_list %}
                    {% if day == call_event[0].day %}
                        {% for m in range(1, 7) %}
                            {{call_event[m]}}<br>
                        {% endfor %}
                    {% endif %}
				{% endfor %}
				</td>
				{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	
	<div id="full-form" title="Create on call event">
	  <p class="validateTips">All form fields are required.</p>
	
	  <form action="/addCall" method="post">
		<fieldset>
            <div>
				<label for="date">Date</label>
				<input type="text" name="date" id="date" readonly class="text ui-widget-content ui-corner-all">
			</div>
            {% for roleId in roleIds %}
			<div>
				<label for="{{ roleId }}">{{roles[loop.index0]}}</label>
				<input type="text" name="{{ roleId }}" id="{{ roleId }}" class="text ui-widget-content ui-corner-all">
			</div>
            {% endfor %}
	 
		  <!-- Allow form submission with keyboard without duplicating the dialog button -->
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	  </form>
	</div>
{% endblock %}
