{% extends "layout.html" %}
{% block headScript %}
<style>
  td:hover {
	background: yellow;
  }
  .invisible {
	display: block;
	text-decoration: none;
	font-size: 100%;
  }
</style>
{% endblock %}
{% block body %}
    <form action="{{ url_for('add_event') }}" method=post class=add-entry>
      <dl>
	    <dt>Start Time:
        <dd><input type=text size=30 name=start>
        <dt>End Time:
        <dd><input type=text size=30 name=end>
        <dt>Faculty:
        <dd><input type=text size=30 name=faculty>
        <dt>Fellow:
        <dd><input type=text size=30 name=fellow>
        <dt>RN 1:
        <dd><input type=text size=30 name=rn1>
        <dt>RN 2:
        <dd><input type=text size=30 name=rn2>
        <dt>Tech 1:
        <dd><input type=text size=30 name=tech1>
        <dt>Tech 2:
        <dd><input type=text size=30 name=tech2>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
	<table>
		<tr>
			<td class="timelabel"></td>
			<td class="rolelabel">Faculty</td>
			<td class="rolelabel">Fellow</td>
			<td class="rolelabel">RN 1</td>
			<td class="rolelabel">RN 2</td>
			<td class="rolelabel">Tech 1</td>
			<td class="rolelabel">Tech 2</td>
		</tr>
		{% for n in range(17, 29) %}
			<tr>
				<td class="timelabel">{{n%24}}:00</td>
				{% for n in range(1,7) %}
				<td class="inside top">  
					<a class="invisible" href="event">
						&nbsp
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr>
				<td class="timelabel">{{n%24}}:30</td>
				{% for n in range(1,7) %}
				<td class="inside top">  
					<a class="invisible" href="event">
						&nbsp
					</a>
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}