h3 {
	margin-bottom:30px;
	font-size:20px;
}
.validateTips { 
	border: 1px solid transparent; padding: 0.3em; 
}
.roleGroup {
	font-size: 20px;
	font-weight: bold;
}
#directory_heading {
    float:left;
}
#addnew_heading {
    float:right;
    margin-top:50px;
    margin-bottom:10px;
}
#quicklinks {
    clear:left;
    float:left;
    padding:0;
    margin-top:10px;
    margin-bottom:10px;
    list-style:none;
}
#quicklinks li {
    display:inline;
}
#directory_table {
    clear:both;
}
