{% extends "layout.html" %}
{% block title %} FailSafe: Dashboard {% endblock %}
{% block dir_head %}
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='style.css') }}">
    <script src='{{ url_for('dashboard.static', filename='script.js') }}'></script>
{% endblock %}
{% block body %}
    <div class="main">
        <div class="container">
            <h1>Welcome {{user.firstName}} {{user.lastName}}!</h1>
            <div class="panel panel-default" id="on-call-table">
                <div class="panel-heading">Your On-call Schedule</div>
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Team</th>
                        </tr>
                        {% for day in oncall_days %}
                        <tr>
                            <td>{{day}}</td>
                            <td>All day</td>
                            <td><a href="/calendar/day" id="oncall-day">View Team</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
