{% extends "layout.html" %}
{% block title %} FailSafe: Day View {% endblock %}
{% block cal_head %}
	<script type=text/javascript src="{{ url_for('calendar.static', filename='eventScript.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('calendar.static', filename='style.css') }}">
	<script type=text/javascript src="{{ url_for('calendar.static', filename='jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('calendar.static', filename='jquery-ui.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type=text/javascript src="{{ url_for('calendar.static', filename='moment-with-locales.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('calendar.static', filename='jquery-ui.min.css') }}">
    {% set roles = ['Faculty', 'Fellow', 'Nurse 1', 'Nurse 2', 'Tech 1', 'Tech 2'] %}
    {% set roleIds = ["faculty", "fellow", "rn1", "rn2", "tech1", "tech2"] %}
	{% set weekdays =['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
    {% block headScript %} {% endblock %}
{% endblock %}
{% block body %} {% endblock %}
<!-- <head>
	<script type=text/javascript src="{{ url_for('calendar.static', filename='jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('calendar.static', filename='jquery-ui.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('calendar.static', filename='eventScript.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('calendar.static', filename='jquery-ui.min.css') }}">
    
</head> -->
