{% extends "cal_layout.html" %}
{% block headScript %}
{% endblock %}
{% block body %}
    {% set roles = ['Faculty', 'Fellow', 'Nurse 1', 'Nurse 2', 'Tech 1', 'Tech 2'] %}
    {% set roleIds = ['Faculty', 'Fellow', 'RN1', 'RN2', 'Tech1', 'Tech2'] %}
	{% set weekdays =['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}

    <div class="container">
	<button id = "alert-button" type="button" class="btn btn-danger pull-right">Alert!</button>
	<button id = "gotoMonth" type="button" class="btn btn-default pull-left"><a href="month">Month View</a></button>
	<button id = "yesterday" type="button" class="btn btn-default pull-left">Last</button>
	<button id = "tomorrow" type="button" class="btn btn-default pull-left">Next</button>
    </div>
    <div class="container" id="dayView"></div>

	<div id="substitution-form" title="Create Substitution">
	  <p class="validateTips">All form fields are required.</p>
	
	  <form action="/addSub" method="post">
		<fieldset>
                        <div>
				<label for="start">Start Time</label>
				<input type="text" name="start" id="start" readonly class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="duration">Duration</label>
				<input type="text" name="duration" id="duration" class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="role">Role</label>
				<select name="role" id="role">
					{% for n in range(0,6) %}
						<option value="{{roleIds[n]}}">{{roles[n]}}</option>
					{% endfor %}
				</select>
			</div>
			<div>
				
				<label for="sub">Substitute</label>
				<input type="text" name="sub" id="sub" class="text ui-widget-content ui-corner-all">
			</div>
	 
		  <!-- Allow form submission with keyboard without duplicating the dialog button -->
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	  </form>
	</div>
{% endblock %}
