{% extends "cal_layout.html" %}
{% block headScript %}
{% endblock %}
{% block body %}
    {% set roles = ['Faculty', 'Fellow', 'Nurse 1', 'Nurse 2', 'Tech 1', 'Tech 2'] %}
    {% set roleIds = ['Faculty', 'Fellow', 'RN1', 'RN2', 'Tech1', 'Tech2'] %}
	{% set weekdays =['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}

    <div class="container">
	<button id = "alert-button" type="button" class="btn btn-danger pull-left">Activate</button>
    </div><br>
    <div class = "container">
	<button id = "yesterday" type="button" class="btn btn-default pull-left">Previous Day</button>
	<button id = "tomorrow" type="button" class="btn btn-default pull-left">Next Day</button>
    </div>
    <div class="container" id="dayView"></div>

	<div id="alert-form" title="Alert">
		<p class="validateTips">All form fields are required.</p>
		<form action="superman" method="post">
			<fieldset>
				<div>
					<label for="eta">ETA</label>
					<input type="text" name="eta" id="eta" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="location">Location</label>
					<input type="text" name="location" id="location" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="type">Type</label>
					<input type="text" name="type" id="type" class="text ui-widget-content ui-corner-all">
				</div>
				<div>
					<label for="msg">Message</label>
					<input type="text" name="msg" id="msg" class="text ui-widget-content ui-corner-all">
				</div>
					
				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		</form>
	</div>

    {% set roleIndex = 0 %}
    {% for role in roleIds %}
	<div id="{{role}}-sub-form" title="Create Substitution">
	  <p class="validateTips">All form fields are required.</p>
	
	  <form action="/addSub" method="post">
		<fieldset>
			<div>
				<label for="role{{role}}">Role</label>
				<input type="text" name="role{{role}}" id="role{{role}}" readonly class="text ui-widget-content ui-corner-all">
			</div>
                        <div>
				<label for="start{{role}}">Start Time</label>
				<input type="text" name="start{{role}}" id="start{{role}}" readonly class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="duration{{role}}">Duration (hours)</label>
				<input type="text" name="duration{{role}}" id="duration{{role}}" class="text ui-widget-content ui-corner-all">
			</div>
		    <div>
			<label for="sub{{role}}">Substitute</label>
			<select name="sub{{role}}" id="sub{{role}}">
			    {{ directory_list }}
			    {% for dir_entry in directory_list %}
				{% set entryRole = dir_entry[1] %}
				{% set firstName = dir_entry[3] %}
				{% set lastName = dir_entry[4] %}
				{% set netID = dir_entry[8] %}
				{% if 'Tech' in role and ('Nurse' in entryRole or 'Tech' in entryRole) %}
				    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
				{% elif entryRole in roles[roleIndex] %}
				    <option value="{{netID}}"> {{firstName}} {{lastName}}: {{netID}}</option>
				{% endif %}
			    {% endfor %}
			</select>
		    </div>
	 
		  <!-- Allow form submission with keyboard without duplicating the dialog button -->
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	  </form>
	</div>
    {% set roleIndex = roleIndex + 1 %}
    {% endfor %}
{% endblock %}
