{% extends "cal_layout.html" %}
{% block headScript %}
{% endblock %}
{% block body %}
	<button id = "gotoMonth" type="button" class="btn btn-default btn-lg"><a href="month">Month View</a></button>
	<table>
		<tr>
			<td class="timelabel"></td>
                        {% for role in roles %}
			<td class="rolelabel">{{role}}</td>
                        {% endfor %}
		</tr>
		<tr>
			<td class="timelabel">All Night</td>
			{% for role in roles %}
				<td class="inside" id="ALLNIGHT">  </td>
			{% endfor %}
		</tr>
		{% for n in range(17, 29) %}
			<tr>
				<td class="timelabel">{{n%24}}:00</td>
				{% for role in roles %}
				<td class="inside top" id="{{n%24}}:00:00">  </td>
				{% endfor %}
			</tr>
			<tr>
				<td class="timelabel">{{n%24}}:30</td>
				{% for role in roles %}
				<td class="inside bottom" id="{{n%24}}:30:00">  </td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<div id="substitution-form" title="Create Substitution">
	  <p class="validateTips">All form fields are required.</p>
	
	  <form action="/addSub" method="post">
		<fieldset>
                        <div>
				<label for="start">Start Time</label>
				<input type="text" name="start" id="start" readonly class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="end">End Time</label>
				<input type="text" name="end" id="end" class="text ui-widget-content ui-corner-all">
			</div>
			<div>
				<label for="sub">Substitute</label>
				<input type="text" name="sub" id="sub" class="text ui-widget-content ui-corner-all">
			</div>
	 
		  <!-- Allow form submission with keyboard without duplicating the dialog button -->
		  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	  </form>
	</div>
{% endblock %}