table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    border: 1px solid #ddd;
    padding: 5px;
    width: 90px;
}
td.inside {
    background-color: #fcf8e3;
    height: 30px;
}
.top {
    border-bottom: 1px dotted #ddd;
}
.bottom {
    border-top: 1px dotted #ddd;
}   
td.timelabel {
    text-align: right;
    width: 55px;
}
.rolelabel {
    text-align: center;
}

